@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Arial, Verdana, Helvetica, sans-serif;
    --font2: 'Sriracha', cursive;
    --font3: 'Passion One', sans-serif;
}

html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-family: var(--font3);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 7vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font2);
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-left: 40px;
    line-height: 2em;
    font-size: 3vw;
}

.normal {
    background-color: white;
}

.imagem {
    background-color: rgb(48, 48, 48);
    color: white;
}

.imagem p {
    background-color: #0000003d;
    display: inline-block;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}